<a href="https://colab.research.google.com/github/maeve70/NYCPublicWiFiLocations/blob/main/NYCPublicWiFiLocs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This data set came from NYC Open data. Last updated on 9.23.22

Here:

https://data.cityofnewyork.us/Social-Services/Citywide-Public-Computer-Centers/cuzb-dmcd

Lists all the public locations of citywide public computer centers (this is in addition to the computers at NYCPL, Brooklyn, Bronx, Queens, SI Public Libraries.

My thought process for this dive into this dataset: The Mayor plans to cut the Public Libraries budget, which negatively affects communities for a number of reasons. If you cut the budgets for libraries you're taking away a community hub & resource for people. Libraries have computer workstations for people to use. 


**21% of NYC households don't have broadband access.** 

See:
Accorinding to data from 2021, and all this data here:
https://data.cityofnewyork.us/dataset/Broadband-Data-Dig-Datasets/ft4n-yqee

Public libraries are communal centers for many NYC neighborhoods, offering a wide range of programs including computer usage. If you cut the budget to the libraries, you're hurting communities including those most vulnerable in the communities. People need access to WiFi and computers. I wanted to look at other sites in NYC that have access to public computers, where they are located, and in what areas they fall short. 

Map made by me in Tableau:
https://public.tableau.com/app/profile/lisa3690/viz/PublicComputersinNYC/Sheet1

This is a WIP and me exploring the dataset...which is supposed to be updated in an ongoing fashion.

In [2]:
import pandas as pd
import numpy as np
import seaborn as sns;
from matplotlib import pyplot as plt

Uploaded the csv to my GH repo. Easier to import smaller (< 25MB) files.

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/maeve70/csvfiles/main/Citywide_Public_Computer_Centers.csv')
df.head()

,OID,Oversight Agency,Operator Name,Location Name,Address,AddrNum,AddrDir,AddrStr,City,State,...,Borough,NTA Code,NTA Name,Council Distrcit,BoroCD,Census Tract,BCTCB2010,BIN,BBL,Location
0,353,Department for the Aging,YOUNG ISRAEL PROGRAMS INC,QUEENS VALLEY NEIGHBORHOOD SENIOR CENTER,141-55 77th Avenue,141-55,NaN,77th,Queens,NY,...,Queens,QN37,Kew Gardens Hills,24,408,77903,40779031000,4143547,4066280084,POINT (-73.819422 40.721434)
1,294,Department for the Aging,JEWISH ASSOCIATION FOR SERVICES FOR THE AGED,COOP CITY NEIGHBORHOOD SENIOR CENTER,2049 Bartow Avenue,2049,NaN,Bartow,Bronx,NY,...,Bronx,BX13,Co-op City,12,210,46201,20462011022,2097466,2051410100,POINT (-73.829062 40.870509)
2,177,Queens Library,Queens Library,Flushing JBA,41-17 Main Street,41-17,NaN,Main,Flushing,NY,...,Queens,QN22,Flushing,20,407,85300,40853002000,4114282,4050430011,POINT (-73.82888469 40.75777407)
3,379,Department for the Aging,SAMUEL FIELD YM & YWHA INC,SAMUEL FIELD NEIGHBORHOOD SENIOR CENTER,58-20 Little Neck Parkway,58-20,NaN,Little Neck,Queens,NY,...,Queens,QN45,Douglas Manor-Douglaston-Little Neck,23,411,152902,41529023014,4173029,4083520051,POINT (-73.723273 40.760948)
4,392,Department for the Aging,SENIOR CITIZENS LEAGUE OF FLATBUSH INC,SR CITIZENS LEAGUE OF FLATBUSH NBH SR CT,870 Ocean Parkway,870,NaN,Ocean,Brooklyn,NY,...,Brooklyn,BK42,Flatbush,44,312,46201,30462012000,3170453,3065080006,POINT (-73.971057 40.627218000000006)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 508 entries, 0 to 507
Data columns (total 69 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   OID                        508 non-null    int64
 1   Oversight Agency           508 non-null    object
 2   Operator Name              508 non-null    object
 3   Location Name              508 non-null    object
 4   Address                    508 non-null    object
 5   AddrNum                    507 non-null    object
 6   AddrDir                    88 non-null     object
 7   AddrStr                    508 non-null    object
 8   City                       508 non-null    object
 9   State                      508 non-null    object
 10  Postcode                   508 non-null    int64
 11  Latitude                   508 non-null    float64
 12  Longitude                  508 non-null    float64
 13  Wireline Dwn               507 non-null    float64
 14  Wireline Up                507 non-null    float64
 15  WiFi Dwn                   446 non-null    float64
 16  WiFi Up                    446 non-null    float64
 17  Wi-Fi Available            508 non-null    bool
 18  Workstation #              508 non-null    int64
 19  Staffed                    508 non-null    bool
 20  Mon Open                   508 non-null    object
 21  Mon Close                  508 non-null    object
 22  Mon Open_2                 5 non-null      object
 23  Mon Close_2                5 non-null      object
 24  Tue Open                   508 non-null    object
 25  Tue Close                  508 non-null    object
 26  Tue Open_2                 6 non-null      object
 27  Tue Close_2                6 non-null      object
 28  Wed Open                   508 non-null    object
 29  Wed Close                  508 non-null    object
 30  Wed Open_2                 5 non-null      object
 31  Wed Close_2                5 non-null      object
 32  Thu Open                   508 non-null    object
 33  Thu Close                  508 non-null    object
 34  Thu Open_2                 6 non-null      object
 35  Thu Close_2                6 non-null      object
 36  Fri Open                   508 non-null    object
 37  Fri Close                  508 non-null    object
 38  Fri Open_2                 5 non-null      object
 39  Fri Close_2                5 non-null      object
 40  Sat Open                   508 non-null    object
 41  Sat Close                  508 non-null    object
 42  Sat Open_2                 1 non-null      object
 43  Sat Close_2                1 non-null      object
 44  Sun Open                   508 non-null    object
 45  Sun Close                  508 non-null    object
 46  Language Access            365 non-null    object
 47  Wheelchair Accessible      508 non-null    object
 48  Wheelchair Access Notes    23 non-null     object
 49  OS Accessibility Features  508 non-null    bool
 50  Open Lab Hrs Per Wk        508 non-null    object
 51  Training  Hours Per Wk     508 non-null    float64
 52  Supplementary Equipment    447 non-null    object
 53  Device Loaning             63 non-null     float64
 54  Devices Loaned             63 non-null     object
 55  Access Requirements        508 non-null    object
 56  Access Notes               8 non-null      object
 57  URL                        507 non-null    object
 58  BoroCode                   508 non-null    int64
 59  Borough                    508 non-null    object
 60  NTA Code                   508 non-null    object
 61  NTA Name                   508 non-null    object
 62  Council Distrcit           508 non-null    int64
 63  BoroCD                     508 non-null    int64
 64  Census Tract               508 non-null    int64
 65  BCTCB2010                  508 non-null    int64
 66  BIN                        508 non-null    int64
 67  BBL                        508 non-null    int64
 68  Location                   508 non-null    object
dtypes: bool(3), float64(8), int64(10), object(48)
memory usage: 263.6+ KB

508 rows x 68 cols

In [5]:
pd.set_option('display.max_rows', None)

In [ ]:
#workstations in each city
df["City"].value_counts()

In [ ]:
df['Workstation #'].count()

508

There are 508 workstations throughout the 5 boroughs

Brooklyn has the most public computer centers. 
Note, Queens is broken down by cities within the borough.

In [7]:
#insurance[["age", "sex", 'charges']].groupby('sex').mean()
df[['Workstation #', 'City']].groupby('City').count()#

                  Workstation #
City
Arverne                       1
Astoria                       1
Bayside                       3
Bellerose                     1
Briarwood                     1
Broad Channel                 1
Bronx                        96
Brooklyn                    143
Cambria Heights               1
College point                 1
Corona                        3
East Elmhurst                 1
Elmhurst                      2
Far Rockaway                  3
Flushing                     12
Forest Hills                  2
Fresh Meadows                 1
Glen Oaks                     1
Glendale                      1
Hollis                        1
Howard Beach                  1
Jackson Heights               2
Jamaica                      11
L.I.C                         1
Laurelton                     1
Little Neck                   2
Long Island City              8
Manhattan                    49
Maspeth                       1
Middle Village                1
New York                     67
Ozone Park                    1
Queens                       46
Queens Village                1
Rego Park                     2
Richmond Hill                 2
Ridgewood                     1
Rockaway Beach                2
Rockaway Park                 1
Rosedale                      1
South Hollis                  1
South Ozone Park              1
St.Albans                     1
Staten Island                25
Whitestone                    1
Woodhaven                     1
Woodside                      1

In [8]:
#df.groupby('group')['id'].count().sort_values(ascending=False)
df.groupby('City')['Workstation #'].count().sort_values(ascending=False)

City
Brooklyn            143
Bronx                96
New York             67
Manhattan            49
Queens               46
Staten Island        25
Flushing             12
Jamaica              11
Long Island City      8
Corona                3
Bayside               3
Far Rockaway          3
Rockaway Beach        2
Rego Park             2
Forest Hills          2
Elmhurst              2
Richmond Hill         2
Little Neck           2
Jackson Heights       2
Queens Village        1
Arverne               1
Ridgewood             1
Rockaway Park         1
Rosedale              1
South Hollis          1
South Ozone Park      1
St.Albans             1
Whitestone            1
Woodhaven             1
Ozone Park            1
L.I.C                 1
Middle Village        1
Maspeth               1
Laurelton             1
Astoria               1
Howard Beach          1
Hollis                1
Glendale              1
Glen Oaks             1
Fresh Meadows         1
East Elmhurst         1
College point         1
Cambria Heights       1
Broad Channel         1
Briarwood             1
Bellerose             1
Woodside              1
Name: Workstation #, dtype: int64

I'm assuming that Queens is broken out into cities b/c it is the largest (sq. miles) borough. Plus, Brooklyn is not broken out into diff. cities. Neighborhoods, yes, but cities, no.

In [9]:
#broken down by zipcode(good for creating maps)
df.groupby('Postcode')['Workstation #'].count().sort_values(ascending=False)

Postcode
11212    11
11206    10
10002    10
10029     9
10027     9
10467     9
11691     8
11207     7
11368     7
10456     7
11221     7
10025     7
11223     6
11355     6
10030     6
10023     6
10451     6
11101     6
11434     6
10473     6
11233     5
11213     5
10461     5
10452     5
10453     5
10454     5
11209     5
11224     5
11229     5
10457     5
10463     5
11238     5
11433     5
10011     5
10032     5
11375     5
11234     4
11211     4
11208     4
11693     4
11432     4
11377     4
10469     4
10314     4
11201     4
10039     4
11367     4
10462     4
11216     4
11219     4
10035     4
11226     4
11235     4
11231     4
11230     4
11102     3
11205     3
10001     3
11214     3
11215     3
11236     3
11354     3
11358     3
11369     3
11372     3
11373     3
11374     3
11385     3
10475     3
11203     3
10016     3
10306     3
10022     3
10019     3
10128     3
10455     3
10458     3
10459     3
10304     3
10034     3
10465     3
10466     3
10301     3
10009     3
10471     3
10036     2
11237     2
10033     2
10037     2
10038     2
10044     2
11360     2
11362     2
10472     2
11364     2
11365     2
11378     2
11379     2
10014     2
11412     2
11421     2
11426     2
10012     2
10010     2
10003     2
10075     2
11694     2
11204     2
11218     2
10310     2
10305     2
11106     2
11217     2
10468     2
10312     2
11220     2
10303     2
11222     2
10302     2
10460     2
11417     1
11105     1
11418     1
11416     1
11414     1
11413     1
11419     1
11420     1
11228     1
11422     1
11423     1
11104     1
11103     1
10470     1
11435     1
11436     1
10007     1
11692     1
11004     1
11428     1
10017     1
11411     1
10464     1
11232     1
10282     1
10040     1
11225     1
10474     1
11356     1
11357     1
10031     1
11361     1
11363     1
10307     1
10308     1
11366     1
10026     1
10024     1
10021     1
10018     1
10065     1
11210     1
11249     1
Name: Workstation #, dtype: int64

In [10]:
df.head(2)

,OID,Oversight Agency,Operator Name,Location Name,Address,AddrNum,AddrDir,AddrStr,City,State,...,Borough,NTA Code,NTA Name,Council Distrcit,BoroCD,Census Tract,BCTCB2010,BIN,BBL,Location
0,353,Department for the Aging,YOUNG ISRAEL PROGRAMS INC,QUEENS VALLEY NEIGHBORHOOD SENIOR CENTER,141-55 77th Avenue,141-55,NaN,77th,Queens,NY,...,Queens,QN37,Kew Gardens Hills,24,408,77903,40779031000,4143547,4066280084,POINT (-73.819422 40.721434)
1,294,Department for the Aging,JEWISH ASSOCIATION FOR SERVICES FOR THE AGED,COOP CITY NEIGHBORHOOD SENIOR CENTER,2049 Bartow Avenue,2049,NaN,Bartow,Bronx,NY,...,Bronx,BX13,Co-op City,12,210,46201,20462011022,2097466,2051410100,POINT (-73.829062 40.870509)

Warning: Total number of columns (69) exceeds max_columns (20) limiting to first (20) columns.

How many spots have WiFi vs none?

In [11]:
#df.groupby('Postcode')['Workstation #'].count().sort_values(ascending=False)
df['Wi-Fi Available'].value_counts()

True     446
False     62
Name: Wi-Fi Available, dtype: int64

Why no wifi?

In [12]:
#df.groupby('Postcode')['Workstation #'].count().sort_values(ascending=False)
#number of wifi spots ordered by city
df.groupby('City')['Wi-Fi Available'].sum().sort_values(ascending=False)

City
Brooklyn            120
Bronx                81
New York             61
Manhattan            42
Queens               41
Staten Island        22
Flushing             12
Jamaica               9
Long Island City      8
Corona                3
Bayside               3
Far Rockaway          3
Rockaway Beach        2
Rego Park             2
Forest Hills          2
Elmhurst              2
Richmond Hill         2
Little Neck           2
Jackson Heights       2
Queens Village        1
Arverne               1
Ridgewood             1
Rockaway Park         1
Rosedale              1
South Hollis          1
South Ozone Park      1
St.Albans             1
Whitestone            1
Woodhaven             1
Ozone Park            1
L.I.C                 1
Middle Village        1
Maspeth               1
Laurelton             1
Howard Beach          1
Hollis                1
Glendale              1
Glen Oaks             1
Fresh Meadows         1
East Elmhurst         1
College point         1
Cambria Heights       1
Broad Channel         1
Briarwood             1
Bellerose             1
Woodside              1
Astoria               0
Name: Wi-Fi Available, dtype: int64

In [ ]:
#df[['Workstation #', 'City']].groupby('City').count()
#this isn't correct.
#df[['Workstation #', 'City', 'Wi-Fi Available']].groupby('City').count()

In [13]:
#Let's look at the sites that have no wi-fi. Also, why don't they?
#as an ex. women_only = insurance.iloc[(insurance['sex']=='female').values]

no_wifi = df.iloc[(df['Wi-Fi Available'] == False).values]
no_wifi.head()

,OID,Oversight Agency,Operator Name,Location Name,Address,AddrNum,AddrDir,AddrStr,City,State,...,Borough,NTA Code,NTA Name,Council Distrcit,BoroCD,Census Tract,BCTCB2010,BIN,BBL,Location
1,294,Department for the Aging,JEWISH ASSOCIATION FOR SERVICES FOR THE AGED,COOP CITY NEIGHBORHOOD SENIOR CENTER,2049 Bartow Avenue,2049,NaN,Bartow,Bronx,NY,...,Bronx,BX13,Co-op City,12,210,46201,20462011022,2097466,2051410100,POINT (-73.829062 40.870509)
10,454,Department of Youth and Community Development,BronxWorks,Melrose,286 East 156th Street,286,East,156th,Bronx,NY,...,Bronx,BX34,Melrose South-Mott Haven North,17,201,6700,20067003001,2120133,2024130001,POINT (-73.920388 40.821708)
19,460,Department of Youth and Community Development,CAMBA,Pink Houses,2702 Linden Blvd.,2702,NaN,Linden,Brooklyn,NY,...,Brooklyn,BK82,East New York,42,305,121400,31214001000,3326995,3044880001,POINT (-73.864436 40.668857)
27,506,New York City Housing Authority,Union Settlement Association,Washington Community Center,1775 Third Avenue,1775,NaN,Third,New York,NY,...,Manhattan,MN33,East Harlem South,8,111,15602,10156021001,1079203,1016470001,POINT (-73.948303 40.786574)
33,415,Department for the Aging,"Samaritan Daytop Village, Inc",Woodside Neighborhood Senior Center,50-37 Newtown Road,50-37,NaN,Newtown,Queens,NY,...,Queens,QN70,Astoria,26,401,16300,40163002000,4430993,4007360002,POINT (-73.910799 40.753806)

In [14]:
no_wifi.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 62 entries, 1 to 503
Data columns (total 69 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   OID                        62 non-null     int64
 1   Oversight Agency           62 non-null     object
 2   Operator Name              62 non-null     object
 3   Location Name              62 non-null     object
 4   Address                    62 non-null     object
 5   AddrNum                    62 non-null     object
 6   AddrDir                    8 non-null      object
 7   AddrStr                    62 non-null     object
 8   City                       62 non-null     object
 9   State                      62 non-null     object
 10  Postcode                   62 non-null     int64
 11  Latitude                   62 non-null     float64
 12  Longitude                  62 non-null     float64
 13  Wireline Dwn               62 non-null     float64
 14  Wireline Up                62 non-null     float64
 15  WiFi Dwn                   0 non-null      float64
 16  WiFi Up                    0 non-null      float64
 17  Wi-Fi Available            62 non-null     bool
 18  Workstation #              62 non-null     int64
 19  Staffed                    62 non-null     bool
 20  Mon Open                   62 non-null     object
 21  Mon Close                  62 non-null     object
 22  Mon Open_2                 1 non-null      object
 23  Mon Close_2                1 non-null      object
 24  Tue Open                   62 non-null     object
 25  Tue Close                  62 non-null     object
 26  Tue Open_2                 1 non-null      object
 27  Tue Close_2                1 non-null      object
 28  Wed Open                   62 non-null     object
 29  Wed Close                  62 non-null     object
 30  Wed Open_2                 1 non-null      object
 31  Wed Close_2                1 non-null      object
 32  Thu Open                   62 non-null     object
 33  Thu Close                  62 non-null     object
 34  Thu Open_2                 1 non-null      object
 35  Thu Close_2                1 non-null      object
 36  Fri Open                   62 non-null     object
 37  Fri Close                  62 non-null     object
 38  Fri Open_2                 1 non-null      object
 39  Fri Close_2                1 non-null      object
 40  Sat Open                   62 non-null     object
 41  Sat Close                  62 non-null     object
 42  Sat Open_2                 1 non-null      object
 43  Sat Close_2                1 non-null      object
 44  Sun Open                   62 non-null     object
 45  Sun Close                  62 non-null     object
 46  Language Access            13 non-null     object
 47  Wheelchair Accessible      62 non-null     object
 48  Wheelchair Access Notes    0 non-null      object
 49  OS Accessibility Features  62 non-null     bool
 50  Open Lab Hrs Per Wk        62 non-null     object
 51  Training  Hours Per Wk     62 non-null     float64
 52  Supplementary Equipment    54 non-null     object
 53  Device Loaning             0 non-null      float64
 54  Devices Loaned             0 non-null      object
 55  Access Requirements        62 non-null     object
 56  Access Notes               0 non-null      object
 57  URL                        62 non-null     object
 58  BoroCode                   62 non-null     int64
 59  Borough                    62 non-null     object
 60  NTA Code                   62 non-null     object
 61  NTA Name                   62 non-null     object
 62  Council Distrcit           62 non-null     int64
 63  BoroCD                     62 non-null     int64
 64  Census Tract               62 non-null     int64
 65  BCTCB2010                  62 non-null     int64
 66  BIN                        62 non-null     int64
 67  BBL                        62 non-null     int64
 68  Location                   62 non-null     object
dtypes: bool(3), float64(8), int64(10), object(48)
memory usage: 32.6+ KB

In [15]:
no_wifi['City'].value_counts()

Brooklyn         23
Bronx            15
Manhattan         7
New York          6
Queens            5
Staten Island     3
Jamaica           2
Astoria           1
Name: City, dtype: int64

In [16]:
#df[['Workstation #', 'City', 'Wi-Fi Available']].groupby('City').count()
#another way, same numbers
no_wifi[['Workstation #', 'City']].groupby('City').count()

               Workstation #
City
Astoria                    1
Bronx                     15
Brooklyn                  23
Jamaica                    2
Manhattan                  7
New York                   6
Queens                     5
Staten Island              3

In [17]:
no_wifi['Oversight Agency'].value_counts()

Department of Youth and Community Development    42
Department for the Aging                          8
New York City Housing Authority                   7
Department of Parks and Recreation                5
Name: Oversight Agency, dtype: int64

In [18]:
no_wifi['Postcode'].value_counts()

10029    4
11212    3
10467    3
11221    3
10009    2
11233    2
10456    2
11211    2
10451    2
10473    2
11207    2
10455    2
11367    2
10030    2
11434    1
11223    1
11426    1
11229    1
11236    1
10034    1
11238    1
10039    1
11201    1
10469    1
10463    1
11231    1
11209    1
11106    1
10475    1
10025    1
11433    1
11217    1
10457    1
10301    1
11249    1
10314    1
10027    1
10022    1
10304    1
11213    1
11377    1
11208    1
11102    1
Name: Postcode, dtype: int64

Let's break out the rows/locations that do have WiFi

In [19]:
yes_wifi = df.iloc[(df['Wi-Fi Available'] == True).values]
yes_wifi.head()

,OID,Oversight Agency,Operator Name,Location Name,Address,AddrNum,AddrDir,AddrStr,City,State,...,Borough,NTA Code,NTA Name,Council Distrcit,BoroCD,Census Tract,BCTCB2010,BIN,BBL,Location
0,353,Department for the Aging,YOUNG ISRAEL PROGRAMS INC,QUEENS VALLEY NEIGHBORHOOD SENIOR CENTER,141-55 77th Avenue,141-55,NaN,77th,Queens,NY,...,Queens,QN37,Kew Gardens Hills,24,408,77903,40779031000,4143547,4066280084,POINT (-73.819422 40.721434)
2,177,Queens Library,Queens Library,Flushing JBA,41-17 Main Street,41-17,NaN,Main,Flushing,NY,...,Queens,QN22,Flushing,20,407,85300,40853002000,4114282,4050430011,POINT (-73.82888469 40.75777407)
3,379,Department for the Aging,SAMUEL FIELD YM & YWHA INC,SAMUEL FIELD NEIGHBORHOOD SENIOR CENTER,58-20 Little Neck Parkway,58-20,NaN,Little Neck,Queens,NY,...,Queens,QN45,Douglas Manor-Douglaston-Little Neck,23,411,152902,41529023014,4173029,4083520051,POINT (-73.723273 40.760948)
4,392,Department for the Aging,SENIOR CITIZENS LEAGUE OF FLATBUSH INC,SR CITIZENS LEAGUE OF FLATBUSH NBH SR CT,870 Ocean Parkway,870,NaN,Ocean,Brooklyn,NY,...,Brooklyn,BK42,Flatbush,44,312,46201,30462012000,3170453,3065080006,POINT (-73.971057 40.627218000000006)
5,362,Department for the Aging,REGIONAL AID FOR INTERIM NEEDS INC,RAIN PARKCHESTER NEIGHBORHOOD SENIOR CTR,1380 Metropolitan Avenue,1380,NaN,Metropolitan,Bronx,NY,...,Bronx,BX46,Parkchester,18,209,21200,20212004001,2096674,2039387501,POINT (-73.861061 40.835141)

Warning: Total number of columns (69) exceeds max_columns (20) limiting to first (20) columns.

In [20]:
yes_wifi['City'].value_counts()

Brooklyn            120
Bronx                81
New York             61
Manhattan            42
Queens               41
Staten Island        22
Flushing             12
Jamaica               9
Long Island City      8
Far Rockaway          3
Corona                3
Bayside               3
Little Neck           2
Rockaway Beach        2
Rego Park             2
Forest Hills          2
Jackson Heights       2
Richmond Hill         2
Elmhurst              2
Whitestone            1
Woodhaven             1
Ozone Park            1
Ridgewood             1
Glen Oaks             1
Glendale              1
Arverne               1
South Ozone Park      1
Fresh Meadows         1
Hollis                1
St.Albans             1
College point         1
South Hollis          1
Rosedale              1
Howard Beach          1
Broad Channel         1
Cambria Heights       1
Rockaway Park         1
Bellerose             1
Woodside              1
L.I.C                 1
East Elmhurst         1
Maspeth               1
Middle Village        1
Briarwood             1
Laurelton             1
Queens Village        1
Name: City, dtype: int64

In [23]:
yes_wifi['Oversight Agency'].value_counts()

Department for the Aging                         151
New York Public Library                           92
Queens Library                                    74
Brooklyn Public Library                           59
Department of Parks and Recreation                28
Department of Youth and Community Development     28
New York City Housing Authority                   14
Name: Oversight Agency, dtype: int64

In [ ]:
#yes_wifi['Operator Name'].value_counts()